@import 'tailwindcss';

html {
  @apply overflow-y-scroll;
}

.main-container {
  @apply bg-white py-10;
  min-height: calc(100vh - 156px);
}

.header-title {
  @apply text-3xl font-bold text-center mb-8;
  position: relative;
  padding-bottom: 1rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.header-title::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  opacity: 0.05;
}

.header-title-h2 {
  @apply text-2xl font-bold mb-6;
}

.header-title-h3 {
  @apply text-xl font-bold mb-4;
}

/* Кнопки */
.btn {
  @apply font-bold py-2 px-4 rounded shadow-md transition-all duration-150;
  transform: translateY(0) scale(1);
}

.btn:hover {
  transform: translateY(-2px) scale(1.15);
}

.btn-primary {
  @apply bg-blue-500 text-white;
}

.btn-primary:hover {
  @apply bg-blue-700;
}

.btn-secondary {
  @apply bg-gray-500 text-white;
}

.btn-secondary:hover {
  @apply bg-gray-700;
}

/* Кнопка для повторної спроби */
.btn-try-again {
  @apply bg-red-500 text-white flex items-center justify-center gap-2;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.btn-try-again:hover {
  @apply bg-red-600;
}

.loading {
  @apply w-32 h-32 rounded-full mx-auto my-10;
  border: 8px solid rgba(229, 231, 235, 0.3);
  border-top-color: #3b82f6;
  animation: loading-spinner 1s linear infinite;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
